body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #111;
  display: grid;
  place-items: center;
}

.link,
.download-instructions {
  position: fixed;
  bottom: 15px;
  margin-block-start: 0;
  margin-block-end: 0;
  color: green;
}

.link {
  left: 15px;
}

.download-instructions {
  right: 15px;
}
